.container {
    position :'relative';
    /* flexbox */
    display :'flex';
    align-items: 'center';
    justify-content: 'center';
    
    pointer-events :'none';
};
.absoluteContainer  {
    position: 'absolute';
    top: 0;
};
.text  {
    position :'relative';
    margin: 0;
    display: 'block';    
    pointer-events: 'initial';
};
.character  {
    position :'absolute';
};
.upsideDown  {
    display :'inline-block';
    transform :'rotateX(180deg)';
};
